<div>
  <img src="assets/img/hachiko.jpeg" alt="Flowers in Chania">
  <h1>Hashiko</h1>
</div>
<div>
  <p>
    Hachiko (em japonês: ハチ公), conhecido em japonês como cão fiel Hachikō (忠犬ハチ公 chūken Hachikō?)" (Odate, 10 de novembro de 1923 - Shibuya, 8 de março de 1935) foi um cão da raça akita, até hoje lembrado por sua lealdade ao dono, e que perdurou mesmo após a morte deste.
    <br>
    <a href="https://pt.wikipedia.org/wiki/Hachiko">Fonte: Hachiko Wikipédia, a enciclopédia livre.</a>
  </p>
</div>
